.start-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* <-- muda aqui */
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('/background-sushi.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}

.top-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem; /* ou 0 */
}


.middle-section {
  text-align: center;
  color: rgb(0, 0, 0);
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);

}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);
}

.sushi-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  
}

.bottom-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.start-button {
  background-color: rgb(0, 0, 0);
  color: rgb(253, 253, 253);
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #ddd;
}
